@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar{
  width: 5pt;
  background-color: rgb(14, 15, 17);;;
  border-radius: 20pt;
  border: solid 1px black;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(22, 24, 28);;
  border: solid 1px black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

h2{
  color: whitesmoke;
  font-size: 30pt;
  text-align: center;
  padding-top: 0px;
}

h3{
  color: whitesmoke;
  font-size: 25pt;
  text-align: center;
  padding-top: 0px;
}

h4{
  color: whitesmoke;
  font-size: 18pt;
}

h5{
  color: whitesmoke;
  font-size: 14pt;
}

h6{
  color: whitesmoke;
  font-size: 10pt;
}

p{
  color: whitesmoke;
}

label{
  color: whitesmoke;
  font-size: 20pt;
}

body{
  display: unset;
  background-color: #23242a;
}

a{
  font-size: 15pt;
  width: 60%;
  color: #ed0891;
}

a:hover{
  color: #4fc3f7;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100vw;
  border-bottom: #1d1e22 solid;
  position: sticky;
  grid-area: header;
  top: 0;
  left: 0;
  background-color: #23242a;
  z-index: 10;
}

.logo{
  padding-left: 10pt;
}

.searchBar{
  display: flex;
  padding-top: 5pt;
  padding-bottom: 5pt;
}

input[type=search]{
  border: #4fc3f7 solid;
  border-radius: 40pt;
  border-top-right-radius: 0pt;
  border-bottom-right-radius: 0pt;
  max-width: 500pt;
  min-width:300pt;
  height: 30pt;
  padding-left: 5pt;
  color: whitesmoke;
  font-size: 18pt;
  background-color: transparent;
}

.searchBar > input[type=search]:hover{
  border: #ed0891 solid;
}

.searchBar > input[type=search]:focus{
  border: #ed0891 solid;
}

.searchBar > input[type=image]{
  border: #4fc3f7 solid;
  border-radius: 40pt;
  border-top-left-radius: 0pt;
  border-bottom-left-radius: 0pt;
  padding-left: 10pt;
  padding-right: 10pt;
  height: 30pt;
}

.searchBar > input[type=image]:hover{
  border: #ed0891 solid;
}
.searchBar > input[type=image]:focus{
  border: #ed0891 solid;
  background-color: #ed0891;
}

.profile{
  padding-top: 5pt;
  padding-bottom: 5pt;
  display: inline-flex;
  align-content: flex-end;
}

.account{
  display: inline-flex;
  align-items: center;
  justify-items: center;
  color: whitesmoke;
  font-size: 20pt;
  background-color: #4fc3f7;
  height: 100%;
  border: #4fc3f7 solid;
  border-radius: 50pt;
  border-bottom-right-radius: 0pt;
  border-top-right-radius: 0pt;
  padding-left: 5pt;

}

.account:hover{
  background-color: #ed0891;
}

.notifications{
  background-color:transparent;
  border-radius: 100%;
  border: unset;
}

.notifications:hover{
  background-color: #4fc3f7;
}

.profile > button > img{
  height: 100%;
}